@import url("https://fonts.googleapis.com/css2?family=Braah+One&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;600&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: antiquewhite;
  font-family: "Braah One", sans-serif;
}
